.Tasks {
    margin-top: 2rem;
}

.Task {
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.CompletedTask {
    text-decoration: line-through;
}

.icon {
    cursor: pointer;
    border-radius: 100%;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    transition: all;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

  .AlertDialogOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .AlertDialogContent {
    background-color: rgb(var(--bg));
    border-radius: 6px;
    box-shadow: hsla(212, 9%, 66%, 0.1) 0px 10px 38px -10px, hsla(216, 2%, 51%, 0.1) 0px 10px 20px -15px;
    border: 1px solid rgb(85, 85, 85);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .AlertDialogContent:focus {
    outline: none;
  }
  
  .AlertDialogTitle {
    margin: 0;
    color: rgb(var(--white));
    font-size: 17px;
    font-weight: 500;
  }
  
  .AlertDialogDescription {
    margin-bottom: 20px;
    color: rgb(var(--white));
    font-size: 15px;
    line-height: 1.5;
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  