.Tasks {
    margin-top: 2rem;
}

.Task {
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.CompletedTask {
    text-decoration: line-through;
}

