.timer {
    font-size: 3.5rem;
    text-align: center;
}

.timerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.skipIcon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    padding: 0.25rem;
    transition: 0.2s;
}

.skipIcon:hover {
    background-color: rgba(0, 0, 0, 0.50); 
}