.progressRoot {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 8px;
    top: 0;
  
    transform: translateZ(0);
  }
  
  .progressIndicator {
    background-color: rgba(0, 119, 255, 0.5);
    backdrop-filter: saturate(180%) blur(10rem);
    width: 100%;
    height: 100%;
    transition: transform 660ms linear;
  }