.dropdownButton {
    background-color: rgba(var(--dark, 0.95));
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
}

.dropdownContent {
    min-width: 175px;
    background-color: rgba(var(--dark, 0.95));
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.dropdownItem {
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 5px 5px;
    padding-left: 13px;
    position: relative;
    user-select: none;
    outline: none;
}

.dropdownItem[data-highlighted] {
    background-color: rgba(var(--dark-lighter, 0.8));
}

.selectedItem {
    background-color: rgba(var(--blue), 0.35);
}
